services:
  db:
    image: postgres
    environment:
      - POSTGRES_DB=users
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5435:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_URL: jdbc:postgresql://db:5432/users
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      SPRING_LIQUIBASE_ENABLED: "true"
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  db_data: